.card.reset-pw {
  width: 50rem;
  margin: 0 auto;
  float: none;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn.saveChange {
  width: 160px;
  height: 50px;
  background-color: #6d597a;
  color: white;
  margin-top: 10px;
}

.invalid input {
  border-color: red;
}

.account-settings-links .list-group-item.active {
  font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
  background: #fff0f3 !important;
}

.light-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: palevioletred !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

@media (min-width: 280px) and (max-width: 653px) {
  .card.reset-pw {
    width: 19rem;
  }
}

@media (min-width: 735px) and (max-width: 991px) {
  .card.reset-pw {
    width: 42rem;
  }
}
