.bookShelfContainer {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.bookItemcontainer {
  margin-top: 30px;
}

.subTitle {
  text-align: center;
}

.btnManage {
  width: 10px;
  height: 10px;
  border: none;
  background-color: #f8f9fa;
  margin-bottom: 1vh;
}
