.searchBar {
  background-color: #f8f9fa;
  float: left;
  position: absolute;
  border-radius: 4px;
  border: 2px solid #f8f9fa;
  width: 30rem;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.35);
}

.searchResult {
  margin: auto;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
  border: 2px solid #f8f9fa;
  width: 40rem;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.35);
}

.searchBar input:active {
  border-radius: 1.625rem;
  -webkit-border-radius: 1.625rem;
}

.btn.search {
  width: 160px;
  height: 40px;
  background-color: #6d597a;
  color: white;
}

.btn.reset {
  width: 160px;
  height: 40px;
  background-color: #5d597a;
  color: white;
}

.blur-banner {
  margin-left: 250px;
  width: 1000px;
  height: 350px;
  box-shadow: 0 0 10px 10px #f8f9fa inset;
}

@media (min-width: 250px) and (max-width: 319px) {
  .searchBar {
    width: 16rem;
    margin: auto;
    padding: 10px;
  }
  .blur-banner {
    margin-left: 10px;
    width: 250px;
    height: 375px;
  }

  .searchResult {
    width: 16rem;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .searchBar {
    width: 19rem;
    margin: auto;
    padding: 10px;
  }
  .blur-banner {
    margin-left: 10px;
    width: 300px;
    height: 375px;
  }

  .searchResult {
    width: 19rem;
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  .searchBar {
    width: 19rem;
    margin: auto;
    padding: 10px;
  }
  .blur-banner {
    margin-left: 10px;
    width: 300px;
    height: 375px;
  }

  .searchResult {
    width: 19rem;
  }
}

@media (min-width: 411px) and (max-width: 534px) {
  .searchBar {
    width: 19rem;
    margin: auto;
    padding: 10px;
  }
  .blur-banner {
    margin-left: 10px;
    width: 300px;
    height: 375px;
  }

  .searchResult {
    width: 19rem;
  }
}

@media (min-width: 535px) and (max-width: 734px) {
  .searchBar {
    width: 25rem;
  }
  .searchResult {
    width: 25rem;
  }
  .blur-banner {
    margin-left: 80px;
    width: 450px;
    height: 375px;
  }
}

@media (min-width: 735px) and (max-width: 991px) {
  .searchBar {
    width: 30rem;
  }
  .searchResult {
    width: 30rem;
  }
  .blur-banner {
    margin-left: 80px;
    width: 650px;
    height: 375px;
  }
}

@media (min-width: 992px) and (max-width: 1170px) {
  .blur-banner {
    margin-left: 80px;
    width: 900px;
    height: 375px;
  }
}
