.stars {
  margin-left: 80px;
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 768px) {
  .search-result {
    width: 85vw;
  }
  .stars {
    margin-left: 0;
  }
  .book-title {
    text-align: center;
  }
}
.bookLink:hover,
.bookLink:active {
  text-decoration: none;
  color: black;
}
.bookLink {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 414px) {
  .smallFont {
    font-size: 15px;
  }
}
@media screen and (max-width: 280px) {
  .smallfont-desc {
    font-size: 15px;
  }

  .smallFont {
    font-size: 11.7px;
  }
}
