body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #feeafa;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./fonts/Lato-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./fonts/Montserrat-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"),
    url(./fonts/SourceSansPro-Regular.ttf) format("opentype");
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 55px;
}
body {
  margin-bottom: 90px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
